<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/public/orange_cat.css">

</head>

<body>
<div class="container">
	<div class="header">
		<div class="titletext">ORANGE CAT SURVEYS</div>
		<img src="/static/public/kitten_logo.png"/>
	</div>

	<div class="survey">
		<div class="sheader">
			<img src="/static/public/{{ banner }}"/>
			<div class="stitle">{{ title }}</div>
		</div>
		<h1>survey is done. thanks!</h1>
	</div><!-- survey -->

	<div class="footer"></div>
</div> <!-- container -->
</body>

<style>
</style>

</html>
